<main>

  <section>

    <div class="left">

        <div class="logos">
          <img src="assets/1.svg" alt="rebels logo">
        </div>

        <div class="titles">
          <h1>Un nouvel espoir</h1>
        </div>


        <div class="descriptions">
          <p>C'est le premier opus de la saga Star Wars par sa date de sortie, mais le quatrième selon l'ordre chronologique de l'histoire.</p>
        </div>

        <div class="years">
          19 <span>7</span><span>7</span>
        </div>
    </div>


    <div class="right">

        <div class="images">
          <div class="first-image" style="background-image: url(assets/1.jpg)"></div>
        </div>
    </div>
  </section>
</main>

<nav class= "low-navbar">

    <div class="actions">

      <div class="left-arrow">
        <img src="assets/arrow.svg" alt="arrow left">
      </div>

      <div class="right-arrow">
        <img src="assets/arrow.svg" alt="arrow right">
      </div>
    </div>

    <ul  class="stepper">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

</nav>
